@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rokkitt:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Rokkitt, sans-serif;
    font-weight: 300;

}
 /* Heading and logo */
h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: gray;


}

#site-name {
    float: left;
    font-size: 150%;
    color: black;
    background-color: white;
    margin-left: 30px;

}
 /* Header navigation */
#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation,
#site-name {
    line-height: 70px;
}

#navigation a:hover {
    border-bottom: 1px solid green;
}
 /* Main image of home page */
#image-outer {
    height: 450px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#text-on-image #text-on-image h2 {
    color: red;
    font-family: Rokkitt, sans-serif;
}

#image-main {
    height: 450px;
    width: 100%;
    background: url('../images/einstein-g9555b3bfa_1280.jpg') no-repeat center center;

    /* animates on loading page */
    animation-name: h-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* zoom for main image */

@keyframes h-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

 /* text area on main image on home page */

#text-on-image {
    font-size: 90%;
    font-family: Rokkitt, sans-serif;

    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: gray;
    bottom: 30px;
    right: 150px;
    position: absolute;
}

/* About us section */

#about-us {
    height: 500px;
    font-family: Rokkitt, sans-serif;
}
#about-heading {

    color: gold;
    background-color: gray;
    padding: 20px;
    text-align: center;
    margin: 50px 0;

}

#about-left-description {


        width: 40%;
        float: left;
        margin-top: 100px;
        margin-left: 5%;
}

.about-left-des {
    width: 90%;
    float: right;
    line-height: 30px;
    clear: both;
}
#about-a-image {
    width: 33%;
    height: auto;
    margin-top: 0px;
    margin-left: auto;
    margin-bottom: 40px;
    margin-right: auto;
}

#about-b-image {
    width: 28rem;
    height: 25rem;
    padding: 30px;
    margin: 6% 5% 2% 66%;
}

#about-c-image {
    background: url('../images/books-gd85fce12b_640.jpg') no-repeat center center;

    height: 100%;
}

 /* Footer */
.social-container {
    display: flex;

    width: 100%;
    max-height: 8px;
    margin-top: 10%;
    justify-content: center;
    justify-content: space-between;
}

.social-container>div {


    display: inline;
    font-size: 150%;
    padding: 10%;
    width: 10%;
    height: 1%;
    background-color: rgb(204, 189, 189);
    margin: 0;

}

#social-color i {
    color: black;
    font-weight: bold;
}